/* Hero Section */
.hero {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                url(../images/spring.jpg);
    background-size: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
/* botton key */
.button{
    display: inline-block;
    margin-top: 2rem;
    background-color:#1e5631;
    color: #f5f5f5;
    width: 17rem;
    text-transform: none;
    padding: 1rem 1rem;
    border-radius: 16px; 
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover {
    background-color:#9ca33d;
    transform: translateY(-5px);
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: none;
}

.hero-content {
    position: relative;
    z-index: 1;
    color: #e2f109;
    font-weight: 555;
    font-size:x-large;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, sans-serif, serif; 
    text-transform: uppercase; 
}

h1 {
    color: #030303;
}

.hero h2 {
    color: rgb(247, 243, 243);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform:none;
}
.intro h3 {
    font-size:x-large;
}
.intro p {
    font-size: larger;
}
/* Attraction Cards */
.attraction-cards {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: linear-gradient(to right, white, burlywood);
    font-family: 'Times New Roman', Times, sans-serif, serif;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform:translateY(-30px); 
}


